body {
    background-color: #E9722A;   
    -webkit-font-smoothing: antialiased;
}

.body-other {
    background: url('../img/sneaky_site_bg2.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-sneak-freddy {
    margin-top: -20px !important;
}

    .container-sneak-freddy div img {
        width: 100%
    }
    
h2 {
    color: #633996;
    text-transform: uppercase;
}

.navbar {
    background: url('../img/top-bar.png') repeat-x top center;
    height: 120px;
    border: 0;
}

.container-long {
    background-color: rgba(255,255,255,0.7);
}

.content {
    padding: 40px 15px;
    font-size: 16px;
}

.content-long {
    padding: 80px 0px;
    height: 88vh;
    overflow: hidden;
    width: 80%;
    margin: 120px auto 0px auto;
}

.underline {
    text-decoration: underline;
}

.impressum {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.navbar-inverse .navbar-toggle {
    background: #633996 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: none !important; }
.mCSB_scrollTools .mCSB_draggerRail { background: none !important; }
.mCSB_scrollTools .mCSB_buttonUp {
    color: rgba(255,255,255, 1);
}

.navbar-nav > li > a {
    color: #633996 !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fff;
}

.navbar-nav > li > a.logo-home > img {
    width: 255px;
}

.logo-home-brand img {
    width: 50px;
    margin-top: -8px;
}

.impressum, .navbar-brand  {
    display: none;
}


/************************************************ Breakpoits
*****************************/

@media (max-width: 1282px) {
    .navbar-nav > li > a.logo-home > img {
        width: 200px;
    }
}

@media (max-width: 1200px) {
    .navbar-nav > li > a {
        padding: 0 20px !important;
        line-height: 10px;
        font-size: large !important;
    }
    
    .navbar-nav > li > a { 
        line-height: 30px !important;
        font-size: 20px !important;
    }
    
    .navbar-nav > li > a { 
       display: block;
       margin-top: 10px !important;
    }
    
    .navbar-nav > li > a.logo-home > img {
        margin-top: -15px !important
    }
}

@media (max-width: 1495px) {
    .navbar {
        background-position: 0 -25px;
    }
    
    .navbar-nav > li > a { 
        display: block;
        margin-top: -15px;
    }
    
    .navbar-nav > li > a.logo-home > img { 
        display: block;
        margin-top: 15px;
    }
    
    .navbar-nav >li > a.logo-facebook > img {
        width: 30px;
    }
    
    .navbar-nav > li > a.logo-home > img {
        width: 220px
    }
}

@media (max-width: 1300px) {
    .navbar-nav > li > a.logo-home > img {
        width: 180px
    }
}

@media (max-width: 992px) {    
    .navbar-nav > li > a.logo-home > img {
        width: 150px;
    }
    
    .navbar-nav > li > a { 
        line-height: 25px !important;
        font-size: 17px !important;
        padding: 15px !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 886px) {    
    .navbar-nav > li > a.logo-home > img {
        width: 130px;
    }
}

@media (max-width: 767px) {
    body {
        background-color: #583E7A;   
    }
    
    .navbar-nav {
        background: #efefef !important;
        margin-top: 0px
    }

    .navbar-nav > li > a {
        line-height: 30px;
        border-bottom: 1px solid #dcdcdc;
    }
    
    .impressum, .navbar-brand {
        display: block;
    }
    
    .navbar-nav > li > a.logo-facebook > img, .navbar-nav > .li-logo-home, .desktop-version {
        display: none;
    }
    
    .mobile-version {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        border-bottom: none;
    }
    
    .container-sneak-freddy {
        margin-top: 200px
    }
    
    .navbar .navbar-nav {
        display: inline-block;
        vertical-align: top;
    }
   
    .navbar .navbar-collapse {
        text-align: center;
    }
    
    .navbar-brand {
        display: none;
    }

    .navbar-nav>li>a.logo-home {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
        display: block;
    }

    .navbar-nav>li>a.logo-facebook {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 80px;
    }

    .navbar-nav > li > a {
        padding: 0 30px 0 30px;
        line-height: 80px;
        font-size: x-large;
    }
    
    .mobile-version {
        display: none;
    }
    
    .desktop-version, .impressum {
        display: block;
    }
}

@media (max-width: 1231px) {
    .container-sneak-freddy div.first {
        margin-top: 20px !important;
    }
}

@media (max-width: 863px) {
    .container-sneak-freddy div.first {
        margin-top: 30px !important;
    }
}

/*************************************************** Mobile Breakpoints
************************************/

@media (max-width: 767px) {
    .container-sneak-freddy div.first {
        margin-top: 70px !important;
    }
    
    .impressum {
        display: none !important;
    }
}

@media (max-width: 364px) {
    .container-sneak-freddy div.first {
        margin-top: 70px !important;
    }
}