@content-font-size: 1em;

@nav-bar-font-size: 1em;
@nav-bar-link-line-height: 10px;
@nav-bar-link-margin-top: 10px;

@logo-margin-top: -15px;
@logo-img-with: 225px;

@header-background-position-top: -25px;
@logo-facebook-width: 30px;

@container-sneak-freddy-margin-top: 10px;
@container-sneak-freddy-first-div-magin-top: 10px;

body {
    background-color: #E9722A;   
    -webkit-font-smoothing: antialiased;
}

.body-other {
    background: url('../img/sneaky_site_bg2.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-sneak-freddy {
    margin-top: -20px !important;
}

    .container-sneak-freddy div img {
        width: 100%
    }
    
h2 {
    color: #633996;
    text-transform: uppercase;
}

.navbar {
    background: url('../img/top-bar.png') repeat-x top center;
    border: 0;
}

.container-long {
    background-color: rgba(255,255,255,0.7);
}

.content {
    padding: 40px 15px;
    font-size: @content-font-size;
}

.content-long {
    padding: 80px 0px;
    height: 88vh;
    overflow: hidden;
    width: 80%;
    margin: 120px auto 0px auto;
}

.underline {
    text-decoration: underline;
}

.impressum {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.navbar-inverse .navbar-toggle {
    background: #633996 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: none !important; }
.mCSB_scrollTools .mCSB_draggerRail { background: none !important; }
.mCSB_scrollTools .mCSB_buttonUp {
    color: rgba(255,255,255, 1);
}

.navbar-nav > li > a {
    color: #633996 !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fff;
}

.navbar-nav > li > a.logo-home > img {
    width: @logo-img-with;
}

.logo-home-brand img {
    width: 50px;
    margin-top: -8px;
}

.impressum, .navbar-brand  {
    display: none;
}


/************************************************ Breakpoits
*****************************/

@media (max-width: 1282px) {
    .navbar-nav > li > a.logo-home > img {
        width: 200px;
    }
}

@media (max-width: 1200px) {
    .navbar-nav > li > a {
        padding: 0 20px !important;
        font-size: @nav-bar-font-size * 1.28 !important; //20px
        line-height: @nav-bar-link-line-height * 3 !important;
        display: block;
        margin-top: @nav-bar-link-margin-top !important;
    }
    
    .navbar-nav > li > a.logo-home > img {
        margin-top: @logo-margin-top !important;
    }
}

@media (max-width: 1495px) {
    .navbar {
        background-position: 0 @header-background-position-top;
    }
    
    .navbar-nav > li > a { 
        display: block;
        margin-top: @nav-bar-link-margin-top - 20%;
    }
    
    .navbar-nav > li > a.logo-home > img { 
        display: block;
        margin-top: -(@logo-margin-top); // 15px;
    }
    
    .navbar-nav >li > a.logo-facebook > img {
        width: @logo-facebook-width;
    }
    
    .navbar-nav > li > a.logo-home > img {
        width: @logo-img-with;
    }
}

@media (max-width: 1300px) {
    .navbar-nav > li > a.logo-home > img {
        width: 180px
    }
}

@media (max-width: 992px) {    
    .navbar-nav > li > a.logo-home > img {
        width: @logo-img-with * 0.682; // 150px
    }
    
    .navbar-nav > li > a { 
        line-height: @nav-bar-link-line-height * 2.5 !important; // 25px
        font-size: @nav-bar-font-size * 0.96 !important;
        padding: 15px !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 886px) {    
    .navbar-nav > li > a.logo-home > img {
        width: @logo-img-with * 0.591; // 130px;
    }
}

@media (max-width: 767px) {
    body {
        background-color: #583E7A;   
    }
    
    .navbar-nav {
        background: #efefef !important;
        margin-top: 0px;
    }

    .navbar-nav > li > a {
        line-height: @nav-bar-link-line-height * 3 !important; // 30px
        border-bottom: 1px solid #dcdcdc;
    }
    
    .impressum, .navbar-brand {
        display: block;
    }
    
    .navbar-nav > li > a.logo-facebook > img, .navbar-nav > .li-logo-home, .desktop-version {
        display: none;
    }
    
    .mobile-version {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        border-bottom: none;
    }
    
    .container-sneak-freddy {
        margin-top: @container-sneak-freddy-margin-top * 20; // 200px;
    }
    
    .navbar .navbar-nav {
        display: inline-block;
        vertical-align: top;
    }
   
    .navbar .navbar-collapse {
        text-align: center;
    }
    
    .navbar-brand {
        display: none;
    }

    .navbar-nav > li > a.logo-home {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
        display: block;
    }

    .navbar-nav > li > a.logo-facebook {
        padding: 0;
        line-height: 80px;
    }

    .navbar-nav > li > a {
        padding: 0 30px 0 30px;
        line-height: @nav-bar-link-line-height * 8; // 80px;
        font-size: @nav-bar-font-size * 1.3;
    }
    
    .mobile-version {
        display: none;
    }
    
    .desktop-version, .impressum {
        display: block;
    }
}

@media (max-width: 1231px) {
    .container-sneak-freddy div.first {
        margin-top: @container-sneak-freddy-first-div-magin-top * 2 !important; // 20px
    }
}

@media (max-width: 863px) {
    .container-sneak-freddy div.first {
        margin-top: @container-sneak-freddy-first-div-magin-top * 3 !important; // 30px
    }
}

/*************************************************** Mobile Breakpoints
************************************/

@media (max-width: 767px) {
    .container-sneak-freddy div.first {
        margin-top: @container-sneak-freddy-first-div-magin-top * 7 !important; // 70px
    }
    
    .impressum {
        display: none !important;
    }
}

@media (max-width: 364px) {
    .container-sneak-freddy div.first {
        margin-top: @container-sneak-freddy-first-div-magin-top * 7 !important; // 70px
    }
}